{% extends "./inc/base.html" %}
{% block content %}
{% import "./inc/inner_nav.html" as innerNav %}
{{innerNav.account(4)}}
<div class="main-width content-width">
        <div class="content-box">
            <section class="page-content myaccount-section">
                <div class="myaccount-inside">
                    <article class="page">
                        <h1 class="account">Account - My payment methods</h1>
                    </article>
                    <div class="myaccount-content">
    
  <div class="myaccount-data myaccount-details">
                <p>No payment methods saved!</p>
  </div>
</div>
<div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </section>
        </div>
    </div>
{% endblock %}