{% extends "./inc/base.html" %}
{% block content %}
	<div class="home-widget-area widget-area-mobile-nmt">
			<div id="lotto_platform_widget_featured-2" class="widget widget_lotto_platform_widget_featured">
            <div class="widget-featured-wrapper widget-featured-wrapper-small widget-featured-small-mobile-nmt widget-featured-bg-type-small ">


<div class="main-width">
	<div class="widget-featured-content" data-active="0">
						<div class="widget-featured-pager">
							<a href="#" data-index="0" class=""><span class="fa fa-circle-o" aria-hidden="true"></span></a>
							<a href="#" data-index="1" class="widget-featured-page-active"><span class="fa fa-circle-o" aria-hidden="true"></span></a>
							<a href="#" data-index="2" class=""><span class="fa fa-circle-o" aria-hidden="true"></span></a>
					</div>
				
						<div class="widget-featured-item" style="display: none;">
						<div class="widget-featured-image">
										<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_3.png" alt="Eurojackpot">
				</div>
				
				<div class="widget-featured-amount">
					<span class="tooltip tooltip-bottom local-amount" data-tooltip="€&nbsp;90,000,000" style="position: relative;">					<span class="currency-front">￥</span>713					</span>				</div>
				
				<div class="widget-featured-info-container">
					<div class="widget-featured-currency">
					m					</div>
					<h2>Eurojackpot</h2>
				</div>
				<a href="https://lottopark.com/zh/wan/eurojackpot" class="btn btn-default btn-xl widget-featured-button">现在玩</a>
				<div class="widget-featured-countdown">
								<time class="widget-list-ticket-countdown simple-countdown" datetime="1541185200">
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">2</span><br>
							<span class="widget-list-countdown-label">
								天							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">12</span><br>
							<span class="widget-list-countdown-label">
								小时							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">38</span><br>
							<span class="widget-list-countdown-label">
								分钟							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">40</span><br>
							<span class="widget-list-countdown-label">
								秒							</span>
						</span>
					</time>
				</div>
				<div class="clearfix"></div>
						</div>
			
						<div class="widget-featured-item hidden-normal" style="display: block;">
						<div class="widget-featured-image">
										<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_6.png" alt="EuroMillions">
				</div>
				
				<div class="widget-featured-amount">
					<span class="tooltip tooltip-bottom local-amount" data-tooltip="€&nbsp;87,000,000">					<span class="currency-front">￥</span>689					</span>				</div>
				
				<div class="widget-featured-info-container">
					<div class="widget-featured-currency">
					m					</div>
					<h2>EuroMillions</h2>
				</div>
				<a href="https://lottopark.com/zh/wan/euromillions" class="btn btn-default btn-xl widget-featured-button">现在玩</a>
				<div class="widget-featured-countdown">
								<time class="widget-list-ticket-countdown simple-countdown" datetime="1541187000">
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">2</span><br>
							<span class="widget-list-countdown-label">
								天							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">13</span><br>
							<span class="widget-list-countdown-label">
								小时							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">8</span><br>
							<span class="widget-list-countdown-label">
								分钟							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">40</span><br>
							<span class="widget-list-countdown-label">
								秒							</span>
						</span>
					</time>
				</div>
				<div class="clearfix"></div>
						</div>
			
						<div class="widget-featured-item hidden-normal" style="display: none;">
						<div class="widget-featured-image">
										<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_4.png" alt="超级乐透">
				</div>
				
				<div class="widget-featured-amount">
					<span class="tooltip tooltip-bottom local-amount" data-tooltip="€&nbsp;58,200,000">					<span class="currency-front">￥</span>461					</span>				</div>
				
				<div class="widget-featured-info-container">
					<div class="widget-featured-currency">
					m					</div>
					<h2>超级乐透</h2>
				</div>
				<a href="https://lottopark.com/zh/wan/superenalotto" class="btn btn-default btn-xl widget-featured-button">现在玩</a>
				<div class="widget-featured-countdown">
								<time class="widget-list-ticket-countdown simple-countdown" datetime="1541098800">
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">1</span><br>
							<span class="widget-list-countdown-label">
								天							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">12</span><br>
							<span class="widget-list-countdown-label">
								小时							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">38</span><br>
							<span class="widget-list-countdown-label">
								分钟							</span>
						</span>
						<span class="widget-list-countdown-group">
							<span class="widget-list-countdown-item countdown-item">40</span><br>
							<span class="widget-list-countdown-label">
								秒							</span>
						</span>
					</time>
				</div>
				<div class="clearfix"></div>
						</div>
						</div>
</div>
</div>
</div><div id="lotto_platform_widget_list-2" class="widget widget_lotto_platform_widget_list"><div class="main-width">
	<div class="widget-list-content widget-list-type2 widget-list-display2">
										<div class="widget-list-carousel-prev"><a href="#"><span class="fa fa-angle-left" aria-hidden="true"></span></a></div>
						<div class="widget-list-carousel" data-showitems="3">
				<ul style="left: 0px;"><li class="widget-list-ticket" style="opacity: 1;">
									<div class="widget-list-ticket-image">
												<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_4.png" alt="超级乐透">
					</div>
					<h2>超级乐透</h2>
					<div class="widget-list-hamount"><span class="tooltip tooltip-bottom local-amount" data-tooltip="€&nbsp;58,200,000"><span class="currency-front">￥</span>461 m</span></div>
																																				<time class="widget-list-ticket-countdown simple-countdown" datetime="1541098800">
											<span class="widget-list-ticket-countdown-before">
							<span class="fa fa-clock-o" aria-hidden="true"></span> 1天 13小时						</span>
										</time>
														<div class="widget-list-button-container">
						<a href="https://lottopark.com/zh/wan/superenalotto" class="btn btn-primary widget-list-button">现在玩</a>
					</div>
				</li><li class="widget-list-ticket" style="opacity: 1;">
									<div class="widget-list-ticket-image">
												<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_2.png" alt="超级百万">
					</div>
					<h2>超级百万</h2>
					<div class="widget-list-hamount"><span class="tooltip tooltip-bottom local-amount" data-tooltip="US$&nbsp;45,000,000"><span class="currency-front">￥</span>314 m</span></div>
																								<span class="widget-list-pending-text">
						处理中					</span>
										<div class="widget-list-button-container">
						<a href="https://lottopark.com/zh/wan/mega-millions" class="btn btn-primary widget-list-button">现在玩</a>
					</div>
				</li><li class="widget-list-ticket" style="opacity: 1;">
									<div class="widget-list-ticket-image">
												<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_1.png" alt="强力球">
					</div>
					<h2>强力球</h2>
					<div class="widget-list-hamount"><span class="tooltip tooltip-bottom local-amount" data-tooltip="US$&nbsp;40,000,000"><span class="currency-front">￥</span>279 m</span></div>
																																				<time class="widget-list-ticket-countdown simple-countdown" datetime="1541041140">
											<span class="widget-list-ticket-countdown-before">
							<span class="fa fa-clock-o" aria-hidden="true"></span> <span class="countdown-item">20</span> 小时 <span class="countdown-item">37</span> 分钟 <span class="countdown-item">40</span> 秒						</span>
										</time>
														<div class="widget-list-button-container">
						<a href="https://lottopark.com/zh/wan/powerball" class="btn btn-primary widget-list-button">现在玩</a>
					</div>
				</li><li class="widget-list-ticket" style="opacity: 0; display: none;">
									<div class="widget-list-ticket-image">
												<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_5.png" alt="英国彩票">
					</div>
					<h2>英国彩票</h2>
					<div class="widget-list-hamount"><span class="tooltip tooltip-bottom local-amount" data-tooltip="£&nbsp;1,800,000"><span class="currency-front">￥</span>16 m</span></div>
																																				<time class="widget-list-ticket-countdown simple-countdown" datetime="1541014200">
											<span class="widget-list-ticket-countdown-before">
							<span class="fa fa-clock-o" aria-hidden="true"></span> <span class="countdown-item">13</span> 小时 <span class="countdown-item">8</span> 分钟 <span class="countdown-item">40</span> 秒						</span>
										</time>
														<div class="widget-list-button-container">
						<a href="https://lottopark.com/zh/wan/lotto-uk" class="btn btn-primary widget-list-button">现在玩</a>
					</div>
				</li><li class="widget-list-ticket" style="opacity: 0; display: none;">
									<div class="widget-list-ticket-image">
												<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_7.png" alt="波兰乐透">
					</div>
					<h2>波兰乐透</h2>
					<div class="widget-list-hamount"><span class="tooltip tooltip-bottom local-amount" data-tooltip="PLN&nbsp;5,000,000"><span class="currency-front">￥</span>9 m</span></div>
																																				<time class="widget-list-ticket-countdown simple-countdown" datetime="1541104800">
											<span class="widget-list-ticket-countdown-before">
							<span class="fa fa-clock-o" aria-hidden="true"></span> 1天 14小时						</span>
										</time>
														<div class="widget-list-button-container">
						<a href="https://lottopark.com/zh/wan/lotto-pl" class="btn btn-primary widget-list-button">现在玩</a>
					</div>
				</li><li class="widget-list-ticket" style="opacity: 0; display: none;">
									<div class="widget-list-ticket-image">
												<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_3.png" alt="Eurojackpot">
					</div>
					<h2>Eurojackpot</h2>
					<div class="widget-list-hamount"><span class="tooltip tooltip-bottom local-amount" data-tooltip="€&nbsp;90,000,000"><span class="currency-front">￥</span>713 m</span></div>
																																				<time class="widget-list-ticket-countdown simple-countdown" datetime="1541185200">
											<span class="widget-list-ticket-countdown-before">
							<span class="fa fa-clock-o" aria-hidden="true"></span> 2天 13小时						</span>
										</time>
														<div class="widget-list-button-container">
						<a href="https://lottopark.com/zh/wan/eurojackpot" class="btn btn-primary widget-list-button">现在玩</a>
					</div>
				</li><li class="widget-list-ticket" style="opacity: 0; display: none;">
									<div class="widget-list-ticket-image">
												<img width="200" height="212" src="https://content.lottopark.com/plugins/lotto-platform/public/images/lotteries/lottery_6.png" alt="EuroMillions">
					</div>
					<h2>EuroMillions</h2>
					<div class="widget-list-hamount"><span class="tooltip tooltip-bottom local-amount" data-tooltip="€&nbsp;87,000,000"><span class="currency-front">￥</span>689 m</span></div>
																																				<time class="widget-list-ticket-countdown simple-countdown" datetime="1541187000">
											<span class="widget-list-ticket-countdown-before">
							<span class="fa fa-clock-o" aria-hidden="true"></span> 2天 13小时						</span>
										</time>
														<div class="widget-list-button-container">
						<a href="https://lottopark.com/zh/wan/euromillions" class="btn btn-primary widget-list-button">现在玩</a>
					</div>
				</li></ul>
				<div class="clearfix"></div>
				<div class="mobile-only">
					<a class="btn btn-secondary" href="https://lottopark.com/zh/wan/">查看更多</a>
				</div>
			</div>
			<div class="clearfix"></div>
						<div class="widget-list-carousel-next"><a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span></a></div>
						</div>
</div>
</div><div class="main-width">
	<div class="small-widgets-content"><div id="lotto_platform_widget_small_winners-2" class="widget widget_lotto_platform_widget_small_winners" style="width: calc(50% - 15px); margin-left: 0px; margin-right: 15px;"><div class="small-widget small-widget-winners">
	<div class="small-widget-title">最新获奖者</div>
			<div class="small-widget-content small-widget-winners-content">
					<div class="small-widget-winners-item-compact">
				<div class="small-widget-winners-item-compact-name">Branko</div>
				<div class="small-widget-winners-item-compact-country"><i class="sprite-lang sprite-lang-hr"></i>克罗地亚</div>
				<div class="small-widget-winners-item-compact-amount"><span>€&nbsp;218</span> - <h2><a href="https://lottopark.com/zh/caipiao/eurojackpot">Eurojackpot</a></h2></div>
				<div class="clearfix"></div>
			</div>
						<div class="small-widget-winners-item-compact">
				<div class="small-widget-winners-item-compact-name">Dan</div>
				<div class="small-widget-winners-item-compact-country"><i class="sprite-lang sprite-lang-ro"></i>罗马尼亚</div>
				<div class="small-widget-winners-item-compact-amount"><span>PLN&nbsp;7,020</span> - <h2><a href="https://lottopark.com/zh/caipiao/lotto-pl">波兰乐透</a></h2></div>
				<div class="clearfix"></div>
			</div>
						<div class="small-widget-winners-item-compact">
				<div class="small-widget-winners-item-compact-name">Astrid</div>
				<div class="small-widget-winners-item-compact-country"><i class="sprite-lang sprite-lang-dk"></i>丹麦</div>
				<div class="small-widget-winners-item-compact-amount"><span>PLN&nbsp;5,819</span> - <h2><a href="https://lottopark.com/zh/caipiao/lotto-pl">波兰乐透</a></h2></div>
				<div class="clearfix"></div>
			</div>
						<div class="small-widget-winners-item-compact">
				<div class="small-widget-winners-item-compact-name">Chiara</div>
				<div class="small-widget-winners-item-compact-country"><i class="sprite-lang sprite-lang-it"></i>意大利</div>
				<div class="small-widget-winners-item-compact-amount"><span>£&nbsp;1,119</span> - <h2><a href="https://lottopark.com/zh/caipiao/lotto-uk">英国彩票</a></h2></div>
				<div class="clearfix"></div>
			</div>
						<div class="small-widget-winners-item-compact">
				<div class="small-widget-winners-item-compact-name">Vašek</div>
				<div class="small-widget-winners-item-compact-country"><i class="sprite-lang sprite-lang-cz"></i>捷克</div>
				<div class="small-widget-winners-item-compact-amount"><span>US$&nbsp;500</span> - <h2><a href="https://lottopark.com/zh/caipiao/mega-millions">超级百万</a></h2></div>
				<div class="clearfix"></div>
			</div>
					</div>
	</div></div><div id="lotto_platform_widget_small_results-2" class="widget widget_lotto_platform_widget_small_results" style="width: calc(50% - 15px); margin-left: 15px; margin-right: 0px;"><div class="small-widget small-widget-results">
	<div class="small-widget-title"><a href="https://lottopark.com/zh/jieguo/">最新结果</a></div>
		<div class="small-widget-content small-widget-results-items">
	<div class="small-widget-results-item">
			<div class="pull-left">
				<h2><a href="https://lottopark.com/zh/jieguo/lotto-pl">波兰乐透</a></h2>
			</div>
			<div class="pull-right small-widget-results-date">
				<span class="fa fa-clock-o" aria-hidden="true"></span>30 十月			</div>
			<div class="clearfix"></div>
			<div class="ticket-line"><div class="ticket-line-number">2</div><div class="ticket-line-number">14</div><div class="ticket-line-number">22</div><div class="ticket-line-number">24</div><div class="ticket-line-number">26</div><div class="ticket-line-number">36</div></div>		</div><div class="small-widget-results-item">
			<div class="pull-left">
				<h2><a href="https://lottopark.com/zh/jieguo/euromillions">EuroMillions</a></h2>
			</div>
			<div class="pull-right small-widget-results-date">
				<span class="fa fa-clock-o" aria-hidden="true"></span>30 十月			</div>
			<div class="clearfix"></div>
			<div class="ticket-line"><div class="ticket-line-number">17</div><div class="ticket-line-number">23</div><div class="ticket-line-number">27</div><div class="ticket-line-number">43</div><div class="ticket-line-number">44</div><div class="ticket-line-bnumber">1</div><div class="ticket-line-bnumber">12</div></div>		</div><div class="small-widget-results-item">
			<div class="pull-left">
				<h2><a href="https://lottopark.com/zh/jieguo/superenalotto">超级乐透</a></h2>
			</div>
			<div class="pull-right small-widget-results-date">
				<span class="fa fa-clock-o" aria-hidden="true"></span>30 十月			</div>
			<div class="clearfix"></div>
			<div class="ticket-line"><div class="ticket-line-number">38</div><div class="ticket-line-number">40</div><div class="ticket-line-number">43</div><div class="ticket-line-number">59</div><div class="ticket-line-number">67</div><div class="ticket-line-number">72</div><div class="ticket-line-bnumber">22</div></div>		</div>	</div>
	</div></div><div class="clearfix"></div>	<div class="clearfix"></div>
	</div>
</div><div id="lotto_platform_widget_news-2" class="widget widget_lotto_platform_widget_news"><div class="main-width">
			<div class="widget-news-nonews text-center">没有最新消息.</div>
	</div></div>								
</div>
{% endblock %}
