{% extends "./inc/base.html" %}

{% block content %}
<div id="lotto_platform_widget_list-3" class="widget widget_lotto_platform_widget_list">
    <div class="main-width">
	    <div class="widget-list-content-grid widget-list-type2 widget-list-display2">
			<div class="widget-list-grid">
			<ul>
            {% for lottery in lotteries -%}
            <li class="widget-list-ticket">
                <div class="widget-list-ticket-image">
                    <img width="200" height="212" src="{{ lottery.picture }}" alt="{{ lottery.title }}">
                </div>
                <h2>{{ lottery.title }}</h2>
                <div class="widget-list-hamount">
                    <span class="fa fa-clock-o" aria-hidden="true"></span> 
                    <time class="simple-countdown" data-datetime="{{lottery.draw_at}}"></time>
                </div>
                <div class="widget-list-button-container">
                    <a href="/play/{{ lottery.name }}" class="btn btn-primary widget-list-button">play now</a>
                </div>
            </li>
            {%- endfor %}
        	</ul>
			<div class="clearfix"></div>
		    </div>
	    </div>
    </div>
</div>		

{% endblock %}