{% extends "./inc/base.html" %}
{% block content %}
{% import "./inc/inner_nav.html" as innerNav %}
{{innerNav.play(1)}}
<div class="widget widget_lotto_platform_widget_ticket">
    <div class="main-width content-width">
        <div class="content-box">
            <div class="widget-ticket-wrapper">
                <div class="widget-ticket-header-wrapper">
                    <div class="widget-ticket-image">
                        <img src="{{lottery.picture}}" alt="{{lottery.title}}">
                    </div>
                    <div class="widget-ticket-header">
                        <h1 class="play-lottery" id="play-lottery">Play {{lottery.title}} Online</h1>
                        <div class="play-lottery-jackpot-amount">
                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                            <time data-datetime="{{lottery.draw_at}}" class="simple-countdown">draw {{ __.moment(lottery.draw_at*1000).toNow()}}</time>
                        </div>
                    </div>
                </div> 
                <div class="clearfix"></div>
            </div>
                <form method="post" action="/shopcart/save" autocomplete="off" id="widget-ticket-form">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <input type="hidden" autocomplete="nope" name="lottery_id" value="{{lottery.id}}">
                    <input type="hidden" id="ticket_number" autocomplete="nope" name="ticket_number" value="0">
                    <input type="hidden" id="ticket_bnumber" autocomplete="nope" name="ticket_bnumber" value="0">
                    <div class="widget-ticket-content" style="text-align: center;" data-nrange="{{lottery.n_range}}" data-ncount="{{lottery.n_count}}" data-brange="{{lottery.b_range}}" data-bcount="{{lottery.b_count}}" data-currency="{{lottery.currency}}" data-format="{c}{n}.{s}" data-price="{{lottery.price * 100}}" data-min="1" data-min_bets="{{lottery.min_bets}}" data-max_bets="{{lottery.max_bets}}">
                        <div class="widget-ticket-entity relative" data-i="3" style="opacity: 1;">
                            <span> <h3>Guess One Ball</h3> </span>
                            <div class="widget-ticket-bets widget-ticket-entity-content" data-checked="0">
                                <div class="widget-ticket-numbers">
                                    {% for k in range(1,lottery.n_range+1)-%}
                                        <a href="#" data-n="{{k}}">{{k}}</a>
                                    {%- endfor %}
                                </div>
                                <div class="widget-ticket-bnumbers">
                                    {% for k in range(1,lottery.b_range+1)-%}
                                        <a href="#" data-b="{{k}}">{{k}}</a>
                                    {%- endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="widget-ticket-buttons-bottom">
                        <div class="pull-left">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="pull-right widget-ticket-summary">                     
                            <div class="widget-ticket-summary-content-total pull-left">
                                <span class="widget-ticket-summary-content-header">Guess:$ <input class="widget-ticket-bets-amount" type="number" size="5" autocomplete="nope" name="ticket_amount" id="ticket_amount" value="1"></span>
                                <span class="widget-ticket-summary-content-total-value"></span>
                            </div>
                            <button type="submit" class="btn btn-primary pull-left widget-ticket-summary-button btn-mobile-large" id="play-continue">continue</button>
                        </div>
                        <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    {% if article %}
<div class="main-width content-width">
    <div class="content-box play-box">
        <section class="page-content page-content-more">
            <article class="page">
                <p><span id="more-119"></span></p>
                {{ article.content_html|safe }}
            </article>
        </section>
    </div>
</div>
{% endif%}
</div>
{% endblock %}