
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="main-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="grid-x grid-padding-x hide-for-small " aria-hidden="true">
    <div class="cell medium-2 ">
        <h2 class="logo"></h2>
    </div>
    <div class="cell medium-4">
        <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
            <ul id="featured2" data-orbit="" data-options="timer_speed:5000;bullets:false;navigation_arrows:false;slide_number:false;pause_on_hover:false;" class="orbit-container" style="height: 57px;">
                <li class="orbit-slide is-active">
                    <div class="pbMilMmMil">
                        <span class="jackpotLeft">
                            <h1 class="digital">
                                <a href="/export/sites/lottery/Games/Powerball/index.html">171</a>
                            </h1>
                        </span>
                        <span class="jackpotRight">
                            <h1 class="digital">
                                <a href="/export/sites/lottery/Games/Mega_Millions/index.html">190</a>
                            </h1>
                        </span>
                    </div>
                </li>
                <li class="orbit-slide">
                    <div class="ltTtsThou">
                        <span class="jackpotLeft"><h1 class="digital"><a href="/export/sites/lottery/Games/Lotto_Texas/index.html">7</a></h1></span>
                        <span class="jackpotRight"><h1 class="digital"><a href="/export/sites/lottery/Games/Texas_Two_Step/index.html">725</a></h1></span>
                    </div>
                </li>
            </ul>
            <div class="orbit-timer">
                <span></span>
                <div class="orbit-progress" style="width: 86.74%; overflow: hidden;"></div>
            </div>
        </div>
    </div>
    <div class="cell medium-6">
        <div class="main-menu"> 
            <ul class="vertical medium-horizontal menu expanded ">
                <li><a href="#0"><span class="sans">Games</span></a></li>
                <li><a href="#0"><span class="sans">Results</span></a></li>
                <li><a href="#0"><span class="sans">Winners</span></a></li>
                <li><a href="#0"><span class="sans">About</span></a></li>
            </ul>
        </div>
    </div>
</div>