
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="main-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="grid-x grid-padding-x hide-for-small " aria-hidden="true">
    <div class="cell medium-2 ">
        <h2 class="logo"></h2>
    </div>
    <div class="cell medium-4">
    </div>
    <div class="cell medium-6">
        <div class="main-menu"> 
            <ul class="vertical medium-horizontal menu expanded ">
                <li><a href="#0"><span class="sans">Games</span></a></li>
                <li><a href="#0"><span class="sans">Results</span></a></li>
                <li><a href="#0"><span class="sans">Winners</span></a></li>
                <li><a href="#0"><span class="sans">About</span></a></li>
            </ul>
        </div>
    </div>
</div>