<div class="footer-logotypes"><img width="1020" height="28" src="https://content.lottopark.com/themes/base/images/trusted.png" alt="" /></div>
	<div class="main-width">
        <p><strong>Lotterywd is an independent service website offering online sale of lotto tickets and is not connected nor supervised by National Lottery,  any other provider of the products available on this website.</p>
		<div class="pull-right">
			<span class="language-label">change language:</span>
			<div class="lang-select">
				<div class="menu-trigger"><a href="#" class="actual-lang"><i class="sprite-lang sprite-lang-gb"></i> English<span class="fa fa-chevron-up" aria-hidden="true"></span></a></div>
			</div>
		</div>
	</div>
	<div class="main-width main-width-nav">
		<nav id="footer-nav">
			<div>
                <div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-11 current_page_item menu-item-133"><a href="/">Home</a></li>
                    <li id="menu-item-336" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-336"><a href="/terms">Terms of use</a></li>
                    <li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-343"><a href="/privacy">Privacy policy</a></li>
                    <li id="menu-item-21408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21408"><a href="/about">About us</a></li>
                    </ul>
                </div>
            </div>
		</nav>
		<div class="mobile-language-area">
			<select id="mobile-language"><option value="/lang/en/" selected="selected">English</option></select>		
		</div>
		<div class="clearfix"></div>
	</div>