        <div class="main-width">
			<div class="mobile-close-area mobile-only">
				<a href="#" id="mobile-close"><span class="fa fa-times" aria-hidden="true"></span></a>
			</div>
		    <div class="menu-primary-menu-container">
                <ul id="menu-primary-menu" class="menu">
                    <li class="menu-item-home"><a href="/"><span class="fa fa-home" title="Home"></span></a></li>
                    <li class="menu-item-mobile"><a href="/login" class="popup-login">{{__('login')}}</a></li>
                    <li class="menu-item-mobile"><a href="#" class="popup-signup">{{__('signUp')}}</a></li>
                    <li id="menu-item-27301" class="infobox menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-119 current_page_item menu-item-27301"><a href="/play/powerball/">{{__('powerball')}}</a></li>
                    <li id="menu-item-27300" class="infobox menu-item menu-item-type-post_type menu-item-object-page menu-item-27300"><a href="/play/megamillions/">{{__('megaMillions')}}</a></li>
                    <li id="menu-item-27299" class="infobox menu-item menu-item-type-post_type menu-item-object-page menu-item-27299"><a href="/play/euromillions/">{{__('euroMillions')}}</a></li>
                    <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-106"><a href="/play/">{{__('lotteries')}}</a></li>
                    <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="/results/">{{__('results')}}</a></li>
                    <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a href="/lotteries/">{{__('information')}}</a></li>
                    <li id="menu-item-568" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-568"><a href="/news/">{{__('news')}}</a></li>
                    <li id="menu-item-431" class="menu-item menu-item-type-taxonomy menu-item-object-faq-category menu-item-431"><a href="/faq/">{{__('faq')}}</a></li>
                    <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="/contact/">{{__('contact')}}</a></li>
                </ul>
            </div>		
        </div>