<div class="main-width relative">
    <div class="content-nav-wrapper mobile-only">
        <select class="content-nav">
            <option selected="" value="/play/{{lottery.name}}">Play {{lottery.title}}</option>
            <option value="/results/{{lottery.name}}">{{lottery.title}} Results</option>
            <option value="/lotteries/{{lottery.name}}">{{lottery.title}} Information</option>
            <option value="/news/{{lottery.name}}/">{{lottery.title}} News</option>
        </select>
    </div>
    <nav class="content-nav mobile-hide">
        <ul>
            <li class="content-nav-active"><a href="/play/{{lottery.name}}">Play {{lottery.title}}</a></li>
            <li><a href="/results/{{lottery.name}}">{{lottery.title}} Results</a></li>
            <li><a href="/lotteries/{{lottery.name}}">{{lottery.title}} Information</a></li>
            <li><a href="/news/{{lottery.name}}/">{{lottery.title}} News</a></li>
            <div class="clearfix"></div>
        </ul>
    </nav>
</div>