<select name="phone_prefix" id="inputPrefix">
    <option value="">
    Choose country
    </option>
    <option value="AF_93" data-territory="AF">
    Afghanistan (+93)
    </option>
    <option value="AX_358" data-territory="AX">
    Åland Islands (+358)
    </option>
    <option value="AL_355" data-territory="AL">
    Albania (+355)
    </option>
    <option value="DZ_213" data-territory="DZ">
    Algeria (+213)
    </option>
    <option value="AS_1" data-territory="AS">
    American Samoa (+1)
    </option>
    <option value="AD_376" data-territory="AD">
    Andorra (+376)
    </option>
    <option value="AO_244" data-territory="AO">
    Angola (+244)
    </option>
    <option value="AI_1" data-territory="AI">
    Anguilla (+1)
    </option>
    <option value="AQ_672" data-territory="AQ">
    Antarctica (+672)
    </option>
    <option value="AG_1" data-territory="AG">
    Antigua &amp; Barbuda (+1)
    </option>
    <option value="AR_54" data-territory="AR">
    Argentina (+54)
    </option>
    <option value="AM_374" data-territory="AM">
    Armenia (+374)
    </option>
    <option value="AW_297" data-territory="AW">
    Aruba (+297)
    </option>
    <option value="AU_61" data-territory="AU">
    Australia (+61)
    </option>
    <option value="AT_43" data-territory="AT">
    Austria (+43)
    </option>
    <option value="AZ_994" data-territory="AZ">
    Azerbaijan (+994)
    </option>
    <option value="BS_1" data-territory="BS">
    Bahamas (+1)
    </option>
    <option value="BH_973" data-territory="BH">
    Bahrain (+973)
    </option>
    <option value="BD_880" data-territory="BD">
    Bangladesh (+880)
    </option>
    <option value="BB_1" data-territory="BB">
    Barbados (+1)
    </option>
    <option value="BY_375" data-territory="BY">
    Belarus (+375)
    </option>
    <option value="BE_32" data-territory="BE">
    Belgium (+32)
    </option>
    <option value="BZ_501" data-territory="BZ">
    Belize (+501)
    </option>
    <option value="BJ_229" data-territory="BJ">
    Benin (+229)
    </option>
    <option value="BM_1" data-territory="BM">
    Bermuda (+1)
    </option>
    <option value="BT_975" data-territory="BT">
    Bhutan (+975)
    </option>
    <option value="BO_591" data-territory="BO">
    Bolivia (+591)
    </option>
    <option value="BA_387" data-territory="BA">
    Bosnia &amp; Herzegovina (+387)
    </option>
    <option value="BW_267" data-territory="BW">
    Botswana (+267)
</option>                         <option value="BR_55" data-territory="BR">
    Brazil (+55)
    </option>
    <option value="IO_246" data-territory="IO">
    British Indian Ocean Territory (+246)
    </option>
    <option value="VG_1" data-territory="VG">
    British Virgin Islands (+1)
    </option>
    <option value="BN_673" data-territory="BN">
    Brunei (+673)
    </option>
    <option value="BG_359" data-territory="BG">
    Bulgaria (+359)
    </option>
    <option value="BF_226" data-territory="BF">
    Burkina Faso (+226)
    </option>
    <option value="BI_257" data-territory="BI">
    Burundi (+257)
    </option>
    <option value="KH_855" data-territory="KH">
    Cambodia (+855)
    </option>
    <option value="CM_237" data-territory="CM">
    Cameroon (+237)
    </option>
    <option value="CA_1" data-territory="CA">
    Canada (+1)
    </option>
    <option value="CV_238" data-territory="CV">
    Cape Verde (+238)
    </option>
    <option value="BQ_599" data-territory="BQ">
    Caribbean Netherlands (+599)
    </option>
    <option value="KY_1" data-territory="KY">
    Cayman Islands (+1)
    </option>
    <option value="CF_236" data-territory="CF">
    Central African Republic (+236)
    </option>
    <option value="TD_235" data-territory="TD">
    Chad (+235)
    </option>
    <option value="CL_56" data-territory="CL">
    Chile (+56)
    </option>
    <option value="CN_86" data-territory="CN">
    China (+86)
    </option>
    <option value="CX_61" data-territory="CX">
    Christmas Island (+61)
    </option>
    <option value="CC_61" data-territory="CC">
    Cocos (Keeling) Islands (+61)
    </option>
    <option value="CO_57" data-territory="CO">
    Colombia (+57)
    </option>
    <option value="KM_269" data-territory="KM">
    Comoros (+269)
    </option>
    <option value="CG_242" data-territory="CG">
    Congo - Brazzaville (+242)
    </option>
    <option value="CD_243" data-territory="CD">
    Congo - Kinshasa (+243)
    </option>
    <option value="CK_682" data-territory="CK">
    Cook Islands (+682)
    </option>
    <option value="CR_506" data-territory="CR">
    Costa Rica (+506)
    </option>
    <option value="CI_225" data-territory="CI">
    Côte d’Ivoire (+225)
    </option>
    <option value="HR_385" data-territory="HR">
    Croatia (+385)
    </option>
    <option value="CU_53" data-territory="CU">
    Cuba (+53)
    </option>
    <option value="CW_599" data-territory="CW">
    Curaçao (+599)
    </option>
    <option value="CY_357" data-territory="CY">
    Cyprus (+357)
    </option>
    <option value="CZ_420" data-territory="CZ">
    Czechia (+420)
    </option>
    <option value="DK_45" data-territory="DK">
    Denmark (+45)
    </option>
    <option value="DJ_253" data-territory="DJ">
    Djibouti (+253)
    </option>
    <option value="DM_1" data-territory="DM">
    Dominica (+1)
    </option>
    <option value="DO_1" data-territory="DO">
    Dominican Republic (+1)
    </option>
    <option value="EC_593" data-territory="EC">
    Ecuador (+593)
    </option>
    <option value="EG_20" data-territory="EG">
    Egypt (+20)
    </option>
    <option value="SV_503" data-territory="SV">
    El Salvador (+503)
    </option>
    <option value="GQ_240" data-territory="GQ">
    Equatorial Guinea (+240)
    </option>
    <option value="ER_291" data-territory="ER">
    Eritrea (+291)
    </option>
    <option value="EE_372" data-territory="EE">
    Estonia (+372)
    </option>
    <option value="ET_251" data-territory="ET">
    Ethiopia (+251)
    </option>
    <option value="FK_500" data-territory="FK">
    Falkland Islands (+500)
    </option>
    <option value="FO_298" data-territory="FO">
    Faroe Islands (+298)
    </option>
    <option value="FJ_679" data-territory="FJ">
    Fiji (+679)
    </option>
    <option value="FI_358" data-territory="FI">
    Finland (+358)
    </option>
    <option value="FR_33" data-territory="FR">
    France (+33)
    </option>
    <option value="GF_594" data-territory="GF">
    French Guiana (+594)
    </option>
    <option value="PF_689" data-territory="PF">
    French Polynesia (+689)
    </option>
    <option value="TF_262" data-territory="TF">
    French Southern Territories (+262)
    </option>
    <option value="GA_241" data-territory="GA">
    Gabon (+241)
    </option>
    <option value="GM_220" data-territory="GM">
    Gambia (+220)
    </option>
    <option value="GE_995" data-territory="GE">
    Georgia (+995)
    </option>
    <option value="DE_49" data-territory="DE">
    Germany (+49)
    </option>
    <option value="GH_233" data-territory="GH">
    Ghana (+233)
    </option>
    <option value="GI_350" data-territory="GI">
    Gibraltar (+350)
    </option>
    <option value="GR_30" data-territory="GR">
    Greece (+30)
    </option>
    <option value="GL_299" data-territory="GL">
    Greenland (+299)
    </option>
    <option value="GD_1" data-territory="GD">
    Grenada (+1)
    </option>
    <option value="GP_590" data-territory="GP">
    Guadeloupe (+590)
    </option>
    <option value="GU_1" data-territory="GU">
    Guam (+1)
    </option>
    <option value="GT_502" data-territory="GT">
    Guatemala (+502)
    </option>
    <option value="GG_44" data-territory="GG">
    Guernsey (+44)
    </option>
    <option value="GN_224" data-territory="GN">
    Guinea (+224)
    </option>
    <option value="GW_245" data-territory="GW">
    Guinea-Bissau (+245)
    </option>
    <option value="GY_592" data-territory="GY">
    Guyana (+592)
    </option>
    <option value="HT_509" data-territory="HT">
    Haiti (+509)
</option>                         <option value="HN_504" data-territory="HN">
    Honduras (+504)
    </option>
    <option value="HK_852" data-territory="HK">
    Hong Kong SAR China (+852)
    </option>
    <option value="HU_36" data-territory="HU">
    Hungary (+36)
    </option>
    <option value="IS_354" data-territory="IS">
    Iceland (+354)
    </option>
    <option value="IN_91" data-territory="IN">
    India (+91)
    </option>
    <option value="ID_62" data-territory="ID">
    Indonesia (+62)
    </option>
    <option value="IR_98" data-territory="IR">
    Iran (+98)
    </option>
    <option value="IQ_964" data-territory="IQ">
    Iraq (+964)
    </option>
    <option value="IE_353" data-territory="IE">
    Ireland (+353)
    </option>
    <option value="IM_44" data-territory="IM">
    Isle of Man (+44)
    </option>
    <option value="IL_972" data-territory="IL">
    Israel (+972)
    </option>
    <option value="IT_39" data-territory="IT">
    Italy (+39)
    </option>
    <option value="JM_1" data-territory="JM">
    Jamaica (+1)
    </option>
    <option value="JP_81" data-territory="JP">
    Japan (+81)
    </option>
    <option value="JE_44" data-territory="JE">
    Jersey (+44)
    </option>
    <option value="JO_962" data-territory="JO">
    Jordan (+962)
    </option>
    <option value="KZ_7" data-territory="KZ">
    Kazakhstan (+7)
    </option>
    <option value="KE_254" data-territory="KE">
    Kenya (+254)
    </option>
    <option value="KI_686" data-territory="KI">
    Kiribati (+686)
    </option>
    <option value="KW_965" data-territory="KW">
    Kuwait (+965)
    </option>
    <option value="KG_996" data-territory="KG">
    Kyrgyzstan (+996)
    </option>
    <option value="LA_856" data-territory="LA">
    Laos (+856)
    </option>
    <option value="LV_371" data-territory="LV">
    Latvia (+371)
    </option>
    <option value="LB_961" data-territory="LB">
    Lebanon (+961)
    </option>
    <option value="LS_266" data-territory="LS">
    Lesotho (+266)
    </option>
    <option value="LR_231" data-territory="LR">
    Liberia (+231)
    </option>
    <option value="LY_218" data-territory="LY">
    Libya (+218)
    </option>
    <option value="LI_423" data-territory="LI">
    Liechtenstein (+423)
    </option>
    <option value="LT_370" data-territory="LT">
    Lithuania (+370)
    </option>
    <option value="LU_352" data-territory="LU">
    Luxembourg (+352)
    </option>
    <option value="MO_853" data-territory="MO">
    Macau SAR China (+853)
    </option>
    <option value="MK_389" data-territory="MK">
    Macedonia (+389)
    </option>
    <option value="MG_261" data-territory="MG">
    Madagascar (+261)
    </option>
    <option value="MW_265" data-territory="MW">
    Malawi (+265)
    </option>
    <option value="MY_60" data-territory="MY">
    Malaysia (+60)
    </option>
    <option value="MV_960" data-territory="MV">
    Maldives (+960)
    </option>
    <option value="ML_223" data-territory="ML">
    Mali (+223)
    </option>
    <option value="MT_356" data-territory="MT">
    Malta (+356)
    </option>
    <option value="MH_692" data-territory="MH">
    Marshall Islands (+692)
    </option>
    <option value="MQ_596" data-territory="MQ">
    Martinique (+596)
    </option>
    <option value="MR_222" data-territory="MR">
    Mauritania (+222)
    </option>
    <option value="MU_230" data-territory="MU">
    Mauritius (+230)
    </option>
    <option value="YT_262" data-territory="YT">
    Mayotte (+262)
    </option>
    <option value="MX_52" data-territory="MX">
    Mexico (+52)
    </option>
    <option value="FM_691" data-territory="FM">
    Micronesia (+691)
    </option>
    <option value="MD_373" data-territory="MD">
    Moldova (+373)
    </option>
    <option value="MC_377" data-territory="MC">
    Monaco (+377)
    </option>
    <option value="MN_976" data-territory="MN">
    Mongolia (+976)
    </option>
    <option value="ME_382" data-territory="ME">
    Montenegro (+382)
    </option>
    <option value="MS_1" data-territory="MS">
    Montserrat (+1)
    </option>
    <option value="MA_212" data-territory="MA">
    Morocco (+212)
    </option>
    <option value="MZ_258" data-territory="MZ">
    Mozambique (+258)
    </option>
    <option value="MM_95" data-territory="MM">
    Myanmar (Burma) (+95)
    </option>
    <option value="NA_264" data-territory="NA">
    Namibia (+264)
    </option>
    <option value="NR_674" data-territory="NR">
    Nauru (+674)
    </option>
    <option value="NP_977" data-territory="NP">
    Nepal (+977)
    </option>
    <option value="NL_31" data-territory="NL">
    Netherlands (+31)
    </option>
    <option value="NC_687" data-territory="NC">
    New Caledonia (+687)
    </option>
    <option value="NZ_64" data-territory="NZ">
    New Zealand (+64)
    </option>
    <option value="NI_505" data-territory="NI">
    Nicaragua (+505)
    </option>
    <option value="NE_227" data-territory="NE">
    Niger (+227)
    </option>
    <option value="NG_234" data-territory="NG">
    Nigeria (+234)
    </option>
    <option value="NU_683" data-territory="NU">
    Niue (+683)
    </option>
    <option value="NF_672" data-territory="NF">
    Norfolk Island (+672)
    </option>
    <option value="KP_850" data-territory="KP">
    North Korea (+850)
    </option>
    <option value="MP_1" data-territory="MP">
    Northern Mariana Islands (+1)
    </option>
    <option value="NO_47" data-territory="NO">
    Norway (+47)
    </option>
    <option value="OM_968" data-territory="OM">
    Oman (+968)
    </option>
    <option value="PK_92" data-territory="PK">
    Pakistan (+92)
    </option>
    <option value="PW_680" data-territory="PW">
    Palau (+680)
    </option>
    <option value="PS_972" data-territory="PS">
    Palestinian Territories (+972)
    </option>
                                <option value="PS_970" data-territory="PS">
    Palestinian Territories (+970)
    </option>
    <option value="PA_507" data-territory="PA">
    Panama (+507)
    </option>
    <option value="PG_675" data-territory="PG">
    Papua New Guinea (+675)
    </option>
    <option value="PY_595" data-territory="PY">
    Paraguay (+595)
    </option>
    <option value="PE_51" data-territory="PE">
    Peru (+51)
    </option>
    <option value="PH_63" data-territory="PH">
    Philippines (+63)
    </option>
    <option value="PN_870" data-territory="PN">
    Pitcairn Islands (+870)
    </option>
    <option value="PL_48" data-territory="PL">
    Poland (+48)
    </option>
    <option value="PT_351" data-territory="PT">
    Portugal (+351)
    </option>
    <option value="PR_1" data-territory="PR">
    Puerto Rico (+1)
    </option>
    <option value="QA_974" data-territory="QA">
    Qatar (+974)
    </option>
    <option value="RE_262" data-territory="RE">
    Réunion (+262)
    </option>
    <option value="RO_40" data-territory="RO">
    Romania (+40)
    </option>
    <option value="RU_7" data-territory="RU">
    Russia (+7)
    </option>
    <option value="RW_250" data-territory="RW">
    Rwanda (+250)
    </option>
    <option value="WS_685" data-territory="WS">
    Samoa (+685)
    </option>
    <option value="SM_378" data-territory="SM">
    San Marino (+378)
    </option>
    <option value="ST_239" data-territory="ST">
    São Tomé &amp; Príncipe (+239)
    </option>
    <option value="SA_966" data-territory="SA">
    Saudi Arabia (+966)
    </option>
    <option value="SN_221" data-territory="SN">
    Senegal (+221)
    </option>
    <option value="RS_381" data-territory="RS">
    Serbia (+381)
    </option>
    <option value="SC_248" data-territory="SC">
    Seychelles (+248)
    </option>
    <option value="SL_232" data-territory="SL">
    Sierra Leone (+232)
    </option>
    <option value="SG_65" data-territory="SG">
    Singapore (+65)
    </option>
    <option value="SX_1" data-territory="SX">
    Sint Maarten (+1)
    </option>
    <option value="SK_421" data-territory="SK">
    Slovakia (+421)
    </option>
    <option value="SI_386" data-territory="SI">
    Slovenia (+386)
    </option>
    <option value="SB_677" data-territory="SB">
    Solomon Islands (+677)
    </option>
    <option value="SO_252" data-territory="SO">
    Somalia (+252)
    </option>
    <option value="ZA_27" data-territory="ZA">
    South Africa (+27)
    </option>
    <option value="GS_500" data-territory="GS">
    South Georgia &amp; South Sandwich Islands (+500)
    </option>
    <option value="KR_82" data-territory="KR">
    South Korea (+82)
    </option>
    <option value="SS_211" data-territory="SS">
    South Sudan (+211)
    </option>
    <option value="ES_34" data-territory="ES">
    Spain (+34)
    </option>
    <option value="LK_94" data-territory="LK">
    Sri Lanka (+94)
    </option>
    <option value="BL_590" data-territory="BL">
    St. Barthélemy (+590)
    </option>
    <option value="SH_290" data-territory="SH">
    St. Helena (+290)
    </option>
    <option value="KN_1" data-territory="KN">
    St. Kitts &amp; Nevis (+1)
    </option>
    <option value="LC_1" data-territory="LC">
    St. Lucia (+1)
    </option>
    <option value="MF_590" data-territory="MF">
    St. Martin (+590)
    </option>
    <option value="PM_508" data-territory="PM">
    St. Pierre &amp; Miquelon (+508)
    </option>
    <option value="VC_1" data-territory="VC">
    St. Vincent &amp; Grenadines (+1)
    </option>
    <option value="SD_249" data-territory="SD">
    Sudan (+249)
    </option>
    <option value="SR_597" data-territory="SR">
    Suriname (+597)
    </option>
    <option value="SJ_47" data-territory="SJ">
    Svalbard &amp; Jan Mayen (+47)
    </option>
    <option value="SZ_268" data-territory="SZ">
    Swaziland (+268)
    </option>
    <option value="SE_46" data-territory="SE">
    Sweden (+46)
    </option>
    <option value="CH_41" data-territory="CH">
    Switzerland (+41)
    </option>
    <option value="SY_963" data-territory="SY">
    Syria (+963)
    </option>
    <option value="TW_886" data-territory="TW">
    Taiwan (+886)
    </option>
    <option value="TJ_992" data-territory="TJ">
    Tajikistan (+992)
    </option>
    <option value="TZ_255" data-territory="TZ">
    Tanzania (+255)
    </option>
    <option value="TH_66" data-territory="TH">
    Thailand (+66)
    </option>
    <option value="TL_670" data-territory="TL">
    Timor-Leste (+670)
    </option>
    <option value="TG_228" data-territory="TG">
    Togo (+228)
    </option>
    <option value="TK_690" data-territory="TK">
    Tokelau (+690)
    </option>
    <option value="TO_676" data-territory="TO">
    Tonga (+676)
    </option>
    <option value="TT_1" data-territory="TT">
    Trinidad &amp; Tobago (+1)
    </option>
    <option value="TN_216" data-territory="TN">
    Tunisia (+216)
    </option>
    <option value="TR_90" data-territory="TR">
    Turkey (+90)
    </option>
    <option value="TM_993" data-territory="TM">
    Turkmenistan (+993)
    </option>
    <option value="TC_1" data-territory="TC">
    Turks &amp; Caicos Islands (+1)
    </option>
    <option value="TV_688" data-territory="TV">
    Tuvalu (+688)
    </option>
    <option value="UM_1" data-territory="UM">
    U.S. Outlying Islands (+1)
    </option>
    <option value="VI_1" data-territory="VI">
    U.S. Virgin Islands (+1)
    </option>
    <option value="UG_256" data-territory="UG">
    Uganda (+256)
    </option>
    <option value="UA_380" data-territory="UA">
    Ukraine (+380)
    </option>
    <option value="AE_971" data-territory="AE">
    United Arab Emirates (+971)
    </option>
    <option value="GB_44" data-territory="GB">
    United Kingdom (+44)
    </option>
    <option value="US_1" data-territory="US">
    United States (+1)
    </option>
    <option value="UY_598" data-territory="UY">
    Uruguay (+598)
    </option>
    <option value="UZ_998" data-territory="UZ">
    Uzbekistan (+998)
    </option>
    <option value="VU_678" data-territory="VU">
    Vanuatu (+678)
    </option>
    <option value="VA_39" data-territory="VA">
    Vatican City (+39)
    </option>
    <option value="VE_58" data-territory="VE">
    Venezuela (+58)
    </option>
    <option value="VN_84" data-territory="VN">
    Vietnam (+84)
    </option>
    <option value="WF_681" data-territory="WF">
    Wallis &amp; Futuna (+681)
    </option>
    <option value="EH_212" data-territory="EH">
    Western Sahara (+212)
    </option>
    <option value="YE_967" data-territory="YE">
    Yemen (+967)
    </option>
    <option value="ZM_260" data-territory="ZM">
    Zambia (+260)
    </option>
    <option value="ZW_263" data-territory="ZW">
    Zimbabwe (+263)
    </option>
</select>