<select name="timezone" id="inputTimezone">
    <option value="">Choose time zone</option>
    <option value="Pacific/Pago_Pago">
        [GMT-11:00] American Samoa Time - Pago Pago                                
    </option>
    <option value="Pacific/Midway">
        [GMT-11:00] Midway Time                                
    </option>
    <option value="Pacific/Niue">
        [GMT-11:00] Niue Time                                
    </option>
    <option value="America/Adak">
        [GMT-10:00, HAST] Adak Time                                
    </option>
    <option value="Pacific/Honolulu">
        [GMT-10:00, HST] Honolulu Time                                
    </option>
    <option value="Pacific/Rarotonga">
        [GMT-10:00] Cook Islands Time - Rarotonga                                
    </option>
    <option value="Pacific/Tahiti">
        [GMT-10:00] Tahiti Time                                
    </option>
    <option value="Pacific/Marquesas">
        [GMT-09:30] Marquesas Time                                
    </option>
    <option value="America/Anchorage">
        [GMT-09:00, AKST] Anchorage Time                                
    </option>
    <option value="America/Juneau">
        [GMT-09:00, AKST] Juneau Time                                
    </option>
    <option value="America/Metlakatla">
        [GMT-09:00, AKST] Metlakatla Time                                
    </option>
    <option value="America/Nome">
        [GMT-09:00, AKST] Nome Time                                
    </option>
    <option value="America/Sitka">
        [GMT-09:00, AKST] Sitka Time                                
    </option>
    <option value="America/Yakutat">
        [GMT-09:00, AKST] Yakutat Time                                
    </option>
    <option value="Pacific/Gambier">
        [GMT-09:00] Gambier Time                                
    </option>
    <option value="America/Dawson">
        [GMT-08:00, PST] Dawson Time                                
    </option>
    <option value="America/Los_Angeles">
        [GMT-08:00, PST] Los Angeles Time                                
    </option>
    <option value="America/Tijuana">
        [GMT-08:00, PST] Tijuana Time                                
    </option>
    <option value="America/Vancouver">
        [GMT-08:00, PST] Vancouver Time                                
    </option>
    <option value="America/Whitehorse">
        [GMT-08:00, PST] Whitehorse Time                                
    </option>
    <option value="Pacific/Pitcairn">
        [GMT-08:00] Pitcairn Islands Time                                
    </option>
    <option value="America/Boise">
        [GMT-07:00, MST] Boise Time                                
    </option>
    <option value="America/Cambridge_Bay">
        [GMT-07:00, MST] Cambridge Bay Time                                
    </option>
    <option value="America/Creston">
        [GMT-07:00, MST] Creston Time                                
    </option>
    <option value="America/Dawson_Creek">
        [GMT-07:00, MST] Dawson Creek Time                                
    </option>
    <option value="America/Denver">
        [GMT-07:00, MST] Denver Time                                
    </option>
    <option value="America/Edmonton">
        [GMT-07:00, MST] Edmonton Time                                
    </option>
    <option value="America/Inuvik">
        [GMT-07:00, MST] Inuvik Time                                
    </option>
    <option value="America/Ojinaga">
        [GMT-07:00, MST] Ojinaga Time                                
    </option>
    <option value="America/Phoenix">
        [GMT-07:00, MST] Phoenix Time                                
    </option>
    <option value="America/Yellowknife">
        [GMT-07:00, MST] Yellowknife Time                                
    </option>
    <option value="America/Chihuahua">
        [GMT-07:00] Chihuahua Time                                
    </option>
    <option value="America/Hermosillo">
        [GMT-07:00] Hermosillo Time                                
    </option>
    <option value="America/Mazatlan">
        [GMT-07:00] Mazatlan Time                                
    </option>
    <option value="America/Bahia_Banderas">
        [GMT-06:00, CST] Bahia Banderas Time                                
    </option>
    <option value="America/Belize">
        [GMT-06:00, CST] Belize Time                                
    </option>
    <option value="America/North_Dakota/Beulah">
        [GMT-06:00, CST] Beulah, North Dakota Time                                
    </option>
    <option value="America/North_Dakota/Center">
        [GMT-06:00, CST] Center, North Dakota Time                                
    </option>
    <option value="America/Chicago">
        [GMT-06:00, CST] Chicago Time                                
    </option>
    <option value="America/Costa_Rica">
        [GMT-06:00, CST] Costa Rica Time                                
    </option>
    <option value="America/El_Salvador">
        [GMT-06:00, CST] El Salvador Time                                
    </option>
    <option value="America/Guatemala">
        [GMT-06:00, CST] Guatemala Time                                
    </option>
    <option value="America/Tegucigalpa">
        [GMT-06:00, CST] Honduras Time - Tegucigalpa                                
    </option>
    <option value="America/Indiana/Knox">
        [GMT-06:00, CST] Knox, Indiana Time                                
    </option>
    <option value="America/Matamoros">
        [GMT-06:00, CST] Matamoros Time                                
    </option>
    <option value="America/Menominee">
        [GMT-06:00, CST] Menominee Time                                
    </option>
    <option value="America/Merida">
        [GMT-06:00, CST] Merida Time                                
    </option>
    <option value="America/Mexico_City">
        [GMT-06:00, CST] Mexico City Time                                
    </option>
    <option value="America/Monterrey">
        [GMT-06:00, CST] Monterrey Time                                
    </option>
    <option value="America/North_Dakota/New_Salem">
        [GMT-06:00, CST] New Salem, North Dakota Time                                
    </option>
    <option value="America/Managua">
        [GMT-06:00, CST] Nicaragua Time - Managua                                
    </option>
    <option value="America/Rainy_River">
        [GMT-06:00, CST] Rainy River Time                                
    </option>
    <option value="America/Rankin_Inlet">
        [GMT-06:00, CST] Rankin Inlet Time                                
    </option>
    <option value="America/Regina">
        [GMT-06:00, CST] Regina Time                                
    </option>
    <option value="America/Resolute">
        [GMT-06:00, CST] Resolute Time                                
    </option>
    <option value="America/Swift_Current">
        [GMT-06:00, CST] Swift Current Time                                
    </option>
    <option value="America/Indiana/Tell_City">
        [GMT-06:00, CST] Tell City, Indiana Time                                
    </option>
    <option value="America/Winnipeg">
        [GMT-06:00, CST] Winnipeg Time                                
    </option>
    <option value="Pacific/Galapagos">
        [GMT-06:00] Galapagos Time                                
    </option>
    <option value="America/Atikokan">
        [GMT-05:00, EST] Atikokan Time                                
    </option>
    <option value="America/Nassau">
        [GMT-05:00, EST] Bahamas Time - Nassau                                
    </option>
    <option value="America/Cancun">
        [GMT-05:00, EST] Cancun Time                                
    </option>
    <option value="America/Cayman">
        [GMT-05:00, EST] Cayman Islands Time                                
    </option>
    <option value="America/Detroit">
        [GMT-05:00, EST] Detroit Time                                
    </option>
    <option value="America/Port-au-Prince">
        [GMT-05:00, EST] Haiti Time - Port-au-Prince                                
    </option>
    <option value="America/Indiana/Indianapolis">
        [GMT-05:00, EST] Indianapolis Time                                
    </option>
    <option value="America/Iqaluit">
        [GMT-05:00, EST] Iqaluit Time                                
    </option>
    <option value="America/Jamaica">
        [GMT-05:00, EST] Jamaica Time                                
    </option>
    <option value="America/Kentucky/Louisville">
        [GMT-05:00, EST] Louisville Time                                
    </option>
    <option value="America/Indiana/Marengo">
        [GMT-05:00, EST] Marengo, Indiana Time                                
    </option>
    <option value="America/Kentucky/Monticello">
        [GMT-05:00, EST] Monticello, Kentucky Time                                
    </option>
    <option value="America/New_York">
        [GMT-05:00, EST] New York Time                                
    </option>
    <option value="America/Nipigon">
        [GMT-05:00, EST] Nipigon Time                                
    </option>
    <option value="America/Panama">
        [GMT-05:00, EST] Panama Time                                
    </option>
    <option value="America/Pangnirtung">
        [GMT-05:00, EST] Pangnirtung Time                                
    </option>
    <option value="America/Indiana/Petersburg">
        [GMT-05:00, EST] Petersburg, Indiana Time                                
    </option>
    <option value="America/Thunder_Bay">
        [GMT-05:00, EST] Thunder Bay Time                                
    </option>
    <option value="America/Toronto">
        [GMT-05:00, EST] Toronto Time                                
    </option>
    <option value="America/Grand_Turk">
        [GMT-05:00, EST] Turks &amp; Caicos Islands Time - Grand Turk                                
    </option>
    <option value="America/Indiana/Vevay">
        [GMT-05:00, EST] Vevay, Indiana Time                                
    </option>
    <option value="America/Indiana/Vincennes">
        [GMT-05:00, EST] Vincennes, Indiana Time                                
    </option>
    <option value="America/Indiana/Winamac">
        [GMT-05:00, EST] Winamac, Indiana Time                                
    </option>
    <option value="America/Bogota">
        [GMT-05:00] Colombia Time - Bogota                                
    </option>
    <option value="America/Havana">
        [GMT-05:00] Cuba Time - Havana                                
    </option>
    <option value="Pacific/Easter">
        [GMT-05:00] Easter Time                                
    </option>
    <option value="America/Guayaquil">
        [GMT-05:00] Ecuador Time - Guayaquil                                
    </option>
    <option value="America/Eirunepe">
        [GMT-05:00] Eirunepe Time                                
    </option>
    <option value="America/Lima">
        [GMT-05:00] Peru Time - Lima                                
    </option>
    <option value="America/Rio_Branco">
        [GMT-05:00] Rio Branco Time                                
    </option>
    <option value="America/Anguilla">
        [GMT-04:00, AST] Anguilla Time                                
    </option>
    <option value="America/Antigua">
        [GMT-04:00, AST] Antigua &amp; Barbuda Time                                
    </option>
    <option value="America/Aruba">
        [GMT-04:00, AST] Aruba Time                                
    </option>
    <option value="America/Barbados">
        [GMT-04:00, AST] Barbados Time                                
    </option>
    <option value="Atlantic/Bermuda">
        [GMT-04:00, AST] Bermuda Time                                
    </option>
    <option value="America/Blanc-Sablon">
        [GMT-04:00, AST] Blanc-Sablon Time                                
    </option>
    <option value="America/Tortola">
        [GMT-04:00, AST] British Virgin Islands Time - Tortola                                
    </option>
    <option value="America/Kralendijk">
        [GMT-04:00, AST] Caribbean Netherlands Time - Kralendijk                                
    </option>
    <option value="America/Curacao">
        [GMT-04:00, AST] Curaçao Time                                
    </option>
    <option value="America/Dominica">
        [GMT-04:00, AST] Dominica Time                                
    </option>
    <option value="America/Santo_Domingo">
        [GMT-04:00, AST] Dominican Republic Time - Santo Domingo                                
    </option>
    <option value="America/Glace_Bay">
        [GMT-04:00, AST] Glace Bay Time                                
    </option>
    <option value="America/Goose_Bay">
        [GMT-04:00, AST] Goose Bay Time                                
    </option>
    <option value="America/Grenada">
        [GMT-04:00, AST] Grenada Time                                
    </option>
    <option value="America/Guadeloupe">
        [GMT-04:00, AST] Guadeloupe Time                                
    </option>
    <option value="America/Halifax">
        [GMT-04:00, AST] Halifax Time                                
    </option>
    <option value="America/Martinique">
        [GMT-04:00, AST] Martinique Time                                
    </option>
    <option value="America/Moncton">
        [GMT-04:00, AST] Moncton Time                                
    </option>
    <option value="America/Montserrat">
        [GMT-04:00, AST] Montserrat Time                                
    </option>
    <option value="America/Puerto_Rico">
        [GMT-04:00, AST] Puerto Rico Time                                
    </option>
    <option value="America/Lower_Princes">
        [GMT-04:00, AST] Sint Maarten Time - Lower Prince’s Quarter                                
    </option>
    <option value="America/St_Barthelemy">
        [GMT-04:00, AST] St. Barthélemy Time                                
    </option>
    <option value="America/St_Kitts">
        [GMT-04:00, AST] St. Kitts &amp; Nevis Time                                
    </option>
    <option value="America/St_Lucia">
        [GMT-04:00, AST] St. Lucia Time                                
    </option>
    <option value="America/Marigot">
        [GMT-04:00, AST] St. Martin Time - Marigot                                
    </option>
    <option value="America/St_Vincent">
        [GMT-04:00, AST] St. Vincent &amp; Grenadines Time                                
    </option>
    <option value="America/Thule">
        [GMT-04:00, AST] Thule Time                                
    </option>
    <option value="America/Port_of_Spain">
        [GMT-04:00, AST] Trinidad &amp; Tobago Time - Port of Spain                                
    </option>
    <option value="America/St_Thomas">
        [GMT-04:00, AST] U.S. Virgin Islands Time - St. Thomas                                
    </option>
    <option value="America/Boa_Vista">
        [GMT-04:00] Boa Vista Time                                
    </option>
    <option value="America/La_Paz">
        [GMT-04:00] Bolivia Time - La Paz                                
    </option>
    <option value="America/Guyana">
        [GMT-04:00] Guyana Time                                
    </option>
    <option value="America/Manaus">
        [GMT-04:00] Manaus Time                                
    </option>
    <option value="America/Porto_Velho">
        [GMT-04:00] Porto Velho Time                                
    </option>
    <option value="America/Caracas">
        [GMT-04:00] Venezuela Time - Caracas                                
    </option>
    <option value="America/St_Johns">
        [GMT-03:30] St. John’s Time                                
    </option>
    <option value="America/Araguaina">
        [GMT-03:00] Araguaina Time                                
    </option>
    <option value="America/Bahia">
        [GMT-03:00] Bahia Time                                
    </option>
    <option value="America/Belem">
        [GMT-03:00] Belem Time                                
    </option>
    <option value="America/Argentina/Buenos_Aires">
        [GMT-03:00] Buenos Aires Time                                
    </option>
    <option value="America/Campo_Grande">
        [GMT-03:00] Campo Grande Time                                
    </option>
    <option value="America/Argentina/Catamarca">
        [GMT-03:00] Catamarca Time                                
    </option>
    <option value="America/Santiago">
        [GMT-03:00] Chile Time - Santiago                                
    </option>
    <option value="America/Argentina/Cordoba">
        [GMT-03:00] Cordoba Time                                
    </option>
    <option value="America/Cuiaba">
        [GMT-03:00] Cuiaba Time                                
    </option>
    <option value="Atlantic/Stanley">
        [GMT-03:00] Falkland Islands Time - Stanley                                
    </option>
    <option value="America/Fortaleza">
        [GMT-03:00] Fortaleza Time                                
    </option>
    <option value="America/Cayenne">
        [GMT-03:00] French Guiana Time - Cayenne                                
    </option>
    <option value="America/Argentina/Jujuy">
        [GMT-03:00] Jujuy Time                                
    </option>
    <option value="America/Argentina/La_Rioja">
        [GMT-03:00] La Rioja Time                                
    </option>
    <option value="America/Maceio">
        [GMT-03:00] Maceio Time                                
    </option>
    <option value="America/Argentina/Mendoza">
        [GMT-03:00] Mendoza Time                                
    </option>
    <option value="America/Godthab">
        [GMT-03:00] Nuuk Time                                
    </option>
    <option value="Antarctica/Palmer">
        [GMT-03:00] Palmer Time                                
    </option>
    <option value="America/Asuncion">
        [GMT-03:00] Paraguay Time - Asunción                                
    </option>
    <option value="America/Recife">
        [GMT-03:00] Recife Time                                
    </option>
    <option value="America/Argentina/Rio_Gallegos">
        [GMT-03:00] Rio Gallegos Time                                
    </option>
    <option value="Antarctica/Rothera">
        [GMT-03:00] Rothera Time                                
    </option>
    <option value="America/Argentina/Salta">
        [GMT-03:00] Salta Time                                
    </option>
    <option value="America/Argentina/San_Juan">
        [GMT-03:00] San Juan Time                                
    </option>
    <option value="America/Argentina/San_Luis">
        [GMT-03:00] San Luis Time                                
    </option>
    <option value="America/Santarem">
        [GMT-03:00] Santarem Time                                
    </option>
    <option value="America/Miquelon">
        [GMT-03:00] St. Pierre &amp; Miquelon Time                                
    </option>
    <option value="America/Paramaribo">
        [GMT-03:00] Suriname Time - Paramaribo                                
    </option>
    <option value="America/Argentina/Tucuman">
        [GMT-03:00] Tucuman Time                                
    </option>
    <option value="America/Montevideo">
        [GMT-03:00] Uruguay Time - Montevideo                                
    </option>
    <option value="America/Argentina/Ushuaia">
        [GMT-03:00] Ushuaia Time                                
    </option>
    <option value="America/Noronha">
        [GMT-02:00] Noronha Time                                
    </option>
    <option value="America/Sao_Paulo">
        [GMT-02:00] Sao Paulo Time                                
    </option>
    <option value="Atlantic/South_Georgia">
        [GMT-02:00] South Georgia &amp; South Sandwich Islands Time                                
    </option>
    <option value="Atlantic/Azores">
        [GMT-01:00] Azores Time                                
    </option>
    <option value="Atlantic/Cape_Verde">
        [GMT-01:00] Cape Verde Time                                
    </option>
    <option value="America/Scoresbysund">
        [GMT-01:00] Ittoqqortoormiit Time                                
    </option>
    <option value="UTC">
                                    GMT                                
                                </option>
    <option value="Africa/Ouagadougou">
        [GMT] Burkina Faso Time - Ouagadougou                                
    </option>
    <option value="Atlantic/Canary">
        [GMT] Canary Time                                
    </option>
    <option value="Africa/Abidjan">
        [GMT] Côte d’Ivoire Time - Abidjan                                
    </option>
    <option value="America/Danmarkshavn">
        [GMT] Danmarkshavn Time                                
    </option>
    <option value="Atlantic/Faroe">
        [GMT] Faroe Islands Time                                
    </option>
    <option value="Africa/Banjul">
        [GMT] Gambia Time - Banjul                                
    </option>
    <option value="Africa/Accra">
        [GMT] Ghana Time - Accra                                
    </option>
    <option value="Europe/Guernsey">
        [GMT] Guernsey Time                                
    </option>
    <option value="Africa/Conakry">
        [GMT] Guinea Time - Conakry                                
    </option>
    <option value="Africa/Bissau">
        [GMT] Guinea-Bissau Time                                
    </option>
    <option value="Atlantic/Reykjavik">
        [GMT] Iceland Time - Reykjavik                                
    </option>
    <option value="Europe/Dublin">
        [GMT] Ireland Time - Dublin                                
    </option>
    <option value="Europe/Isle_of_Man">
        [GMT] Isle of Man Time                                
    </option>
    <option value="Europe/Jersey">
        [GMT] Jersey Time                                
    </option>
    <option value="Africa/Monrovia">
        [GMT] Liberia Time - Monrovia                                
    </option>
    <option value="Atlantic/Madeira">
        [GMT] Madeira Time                                
    </option>
    <option value="Africa/Bamako">
        [GMT] Mali Time - Bamako                                
    </option>
    <option value="Africa/Nouakchott">
        [GMT] Mauritania Time - Nouakchott                                
    </option>
    <option value="Europe/Lisbon">
        [GMT] Portugal Time - Lisbon                                
    </option>
    <option value="Africa/Dakar">
        [GMT] Senegal Time - Dakar                                
    </option>
    <option value="Africa/Freetown">
        [GMT] Sierra Leone Time - Freetown                                
    </option>
    <option value="Atlantic/St_Helena">
        [GMT] St. Helena Time                                
    </option>
    <option value="Africa/Lome">
        [GMT] Togo Time - Lome                                
    </option>
    <option value="Antarctica/Troll">
        [GMT] Troll Time                                
    </option>
    <option value="Europe/London">
        [GMT] United Kingdom Time - London                                
    </option>
    <option value="Europe/Tirane">
        [GMT+01:00] Albania Time - Tirane                                
    </option>
    <option value="Africa/Algiers">
        [GMT+01:00] Algeria Time - Algiers                                
    </option>
    <option value="Europe/Andorra">
        [GMT+01:00] Andorra Time                                
    </option>
    <option value="Africa/Luanda">
        [GMT+01:00] Angola Time - Luanda                                
    </option>
    <option value="Europe/Vienna">
        [GMT+01:00] Austria Time - Vienna                                
    </option>
    <option value="Europe/Brussels">
        [GMT+01:00] Belgium Time - Brussels                                
    </option>
    <option value="Africa/Porto-Novo">
        [GMT+01:00] Benin Time - Porto-Novo                                
    </option>
    <option value="Europe/Sarajevo">
        [GMT+01:00] Bosnia &amp; Herzegovina Time - Sarajevo                                
    </option>
    <option value="Europe/Busingen">
        [GMT+01:00] Busingen Time                                
    </option>
    <option value="Africa/Douala">
        [GMT+01:00] Cameroon Time - Douala                                
    </option>
    <option value="Africa/Bangui">
        [GMT+01:00] Central African Republic Time - Bangui                                
    </option>
    <option value="Africa/Ceuta">
        [GMT+01:00] Ceuta Time                                
    </option>
    <option value="Africa/Ndjamena">
        [GMT+01:00] Chad Time - Ndjamena                                
    </option>
    <option value="Africa/Brazzaville">
        [GMT+01:00] Congo - Brazzaville Time                                
    </option>
    <option value="Europe/Zagreb">
        [GMT+01:00] Croatia Time - Zagreb                                
    </option>
    <option value="Europe/Prague">
        [GMT+01:00] Czechia Time - Prague                                
    </option>
    <option value="Europe/Copenhagen">
        [GMT+01:00] Denmark Time - Copenhagen                                
    </option>
    <option value="Africa/Malabo">
        [GMT+01:00] Equatorial Guinea Time - Malabo                                
    </option>
    <option value="Europe/Paris">
        [GMT+01:00] France Time - Paris                                
    </option>
    <option value="Africa/Libreville">
        [GMT+01:00] Gabon Time - Libreville                                
    </option>
    <option value="Europe/Berlin">
        [GMT+01:00] Germany Time - Berlin                                
    </option>
    <option value="Europe/Gibraltar">
        [GMT+01:00] Gibraltar Time                                
    </option>
    <option value="Europe/Budapest">
        [GMT+01:00] Hungary Time - Budapest                                
    </option>
    <option value="Europe/Rome">
        [GMT+01:00] Italy Time - Rome                                
    </option>
    <option value="Africa/Kinshasa">
        [GMT+01:00] Kinshasa Time                                
    </option>
    <option value="Europe/Vaduz">
        [GMT+01:00] Liechtenstein Time - Vaduz                                
    </option>
    <option value="Europe/Luxembourg">
        [GMT+01:00] Luxembourg Time                                
    </option>
    <option value="Europe/Skopje">
        [GMT+01:00] Macedonia Time - Skopje                                
    </option>
    <option value="Europe/Malta">
        [GMT+01:00] Malta Time                                
    </option>
    <option value="Europe/Monaco">
        [GMT+01:00] Monaco Time                                
    </option>
    <option value="Europe/Podgorica">
        [GMT+01:00] Montenegro Time - Podgorica                                
    </option>
    <option value="Europe/Amsterdam">
        [GMT+01:00] Netherlands Time - Amsterdam                                
    </option>
    <option value="Africa/Niamey">
        [GMT+01:00] Niger Time - Niamey                                
    </option>
    <option value="Africa/Lagos">
        [GMT+01:00] Nigeria Time - Lagos                                
    </option>
    <option value="Europe/Oslo">
        [GMT+01:00] Norway Time - Oslo                                
    </option>
    <option value="Europe/Warsaw">
        [GMT+01:00] Poland Time - Warsaw                                
    </option>
    <option value="Europe/San_Marino">
        [GMT+01:00] San Marino Time                                
    </option>
    <option value="Europe/Belgrade">
        [GMT+01:00] Serbia Time - Belgrade                                
    </option>
    <option value="Europe/Bratislava">
        [GMT+01:00] Slovakia Time - Bratislava                                
    </option>
    <option value="Europe/Ljubljana">
        [GMT+01:00] Slovenia Time - Ljubljana                                
    </option>
    <option value="Europe/Madrid">
        [GMT+01:00] Spain Time - Madrid                                
    </option>
    <option value="Arctic/Longyearbyen">
        [GMT+01:00] Svalbard &amp; Jan Mayen Time - Longyearbyen                                
    </option>
    <option value="Europe/Stockholm">
        [GMT+01:00] Sweden Time - Stockholm                                
    </option>
    <option value="Europe/Zurich">
        [GMT+01:00] Switzerland Time - Zurich                                
    </option>
    <option value="Africa/Tunis">
        [GMT+01:00] Tunisia Time                                
    </option>
    <option value="Europe/Vatican">
        [GMT+01:00] Vatican City Time                                
    </option>
    <option value="Africa/Casablanca">
        [GMT] Morocco Time - Casablanca                                
    </option>
    <option value="Africa/Sao_Tome">
        [GMT] São Tomé &amp; Príncipe Time                                
    </option>
    <option value="Africa/El_Aaiun">
        [GMT] Western Sahara Time - El Aaiun                                
    </option>
    <option value="Africa/Gaborone">
        [GMT+02:00] Botswana Time - Gaborone                                
    </option>
    <option value="Europe/Sofia">
        [GMT+02:00] Bulgaria Time - Sofia                                
    </option>
    <option value="Africa/Bujumbura">
        [GMT+02:00] Burundi Time - Bujumbura                                
    </option>
    <option value="Africa/Cairo">
        [GMT+02:00] Egypt Time - Cairo                                
    </option>
    <option value="Europe/Tallinn">
        [GMT+02:00] Estonia Time - Tallinn                                
    </option>
    <option value="Europe/Helsinki">
        [GMT+02:00] Finland Time - Helsinki                                
    </option>
    <option value="Asia/Gaza">
        [GMT+02:00] Gaza Time                                
    </option>
    <option value="Europe/Athens">
        [GMT+02:00] Greece Time - Athens                                
    </option>
    <option value="Asia/Hebron">
        [GMT+02:00] Hebron Time                                
    </option>
    <option value="Asia/Jerusalem">
        [GMT+02:00] Israel Time - Jerusalem                                
    </option>
    <option value="Asia/Amman">
        [GMT+02:00] Jordan Time - Amman                                
    </option>
    <option value="Europe/Kaliningrad">
        [GMT+02:00] Kaliningrad Time                                
    </option>
    <option value="Europe/Riga">
        [GMT+02:00] Latvia Time - Riga                                
    </option>
    <option value="Asia/Beirut">
        [GMT+02:00] Lebanon Time - Beirut                                
    </option>
    <option value="Africa/Maseru">
        [GMT+02:00] Lesotho Time - Maseru                                
    </option>
    <option value="Africa/Tripoli">
        [GMT+02:00] Libya Time - Tripoli                                
    </option>
    <option value="Europe/Vilnius">
        [GMT+02:00] Lithuania Time - Vilnius                                
    </option>
    <option value="Africa/Lubumbashi">
        [GMT+02:00] Lubumbashi Time                                
    </option>
    <option value="Africa/Blantyre">
        [GMT+02:00] Malawi Time - Blantyre                                
    </option>
    <option value="Europe/Chisinau">
        [GMT+02:00] Moldova Time - Chisinau                                
    </option>
    <option value="Africa/Maputo">
        [GMT+02:00] Mozambique Time - Maputo                                
    </option>
    <option value="Africa/Windhoek">
        [GMT+02:00] Namibia Time - Windhoek                                
    </option>
    <option value="Asia/Nicosia">
        [GMT+02:00] Nicosia Time                                
    </option>
    <option value="Europe/Bucharest">
        [GMT+02:00] Romania Time - Bucharest                                
    </option>
    <option value="Africa/Kigali">
        [GMT+02:00] Rwanda Time - Kigali                                
    </option>
    <option value="Africa/Johannesburg">
        [GMT+02:00] South Africa Time - Johannesburg                                
    </option>
    <option value="Africa/Khartoum">
        [GMT+02:00] Sudan Time - Khartoum                                
    </option>
    <option value="Africa/Mbabane">
        [GMT+02:00] Swaziland Time - Mbabane                                
    </option>
    <option value="Asia/Damascus">
        [GMT+02:00] Syria Time - Damascus                                
    </option>
    <option value="Europe/Kiev">
        [GMT+02:00] Ukraine Time - Kiev                                
    </option>
    <option value="Europe/Uzhgorod">
        [GMT+02:00] Uzhhorod Time                                
    </option>
    <option value="Africa/Lusaka">
        [GMT+02:00] Zambia Time - Lusaka                                
    </option>
    <option value="Europe/Zaporozhye">
        [GMT+02:00] Zaporozhye Time                                
    </option>
    <option value="Africa/Harare">
        [GMT+02:00] Zimbabwe Time - Harare                                
    </option>
    <option value="Europe/Mariehamn">
        [GMT+02:00] Åland Islands Time - Mariehamn                                
    </option>
    <option value="Asia/Bahrain">
        [GMT+03:00] Bahrain Time                                
    </option>
    <option value="Europe/Minsk">
        [GMT+03:00] Belarus Time - Minsk                                
    </option>
    <option value="Indian/Comoro">
        [GMT+03:00] Comoros Time                                
    </option>
    <option value="Africa/Djibouti">
        [GMT+03:00] Djibouti Time                                
    </option>
    <option value="Africa/Asmara">
        [GMT+03:00] Eritrea Time - Asmara                                
    </option>
    <option value="Africa/Addis_Ababa">
        [GMT+03:00] Ethiopia Time - Addis Ababa                                
    </option>
    <option value="Asia/Baghdad">
        [GMT+03:00] Iraq Time - Baghdad                                
    </option>
    <option value="Africa/Nairobi">
        [GMT+03:00] Kenya Time - Nairobi                                
    </option>
    <option value="Asia/Kuwait">
        [GMT+03:00] Kuwait Time                                
    </option>
    <option value="Indian/Antananarivo">
        [GMT+03:00] Madagascar Time - Antananarivo                                
    </option>
    <option value="Indian/Mayotte">
        [GMT+03:00] Mayotte Time                                
    </option>
    <option value="Europe/Moscow">
        [GMT+03:00] Moscow Time                                
    </option>
    <option value="Asia/Qatar">
        [GMT+03:00] Qatar Time                                
    </option>
    <option value="Asia/Riyadh">
        [GMT+03:00] Saudi Arabia Time - Riyadh                                
    </option>
    <option value="Europe/Simferopol">
        [GMT+03:00] Simferopol Time                                
    </option>
    <option value="Africa/Mogadishu">
        [GMT+03:00] Somalia Time - Mogadishu                                
    </option>
    <option value="Africa/Juba">
        [GMT+03:00] South Sudan Time - Juba                                
    </option>
    <option value="Antarctica/Syowa">
        [GMT+03:00] Syowa Time                                
    </option>
    <option value="Africa/Dar_es_Salaam">
        [GMT+03:00] Tanzania Time - Dar es Salaam                                
    </option>
    <option value="Europe/Istanbul">
        [GMT+03:00] Turkey Time - Istanbul                                
    </option>
    <option value="Africa/Kampala">
        [GMT+03:00] Uganda Time - Kampala                                
    </option>
    <option value="Asia/Aden">
        [GMT+03:00] Yemen Time - Aden                                
    </option>
    <option value="Asia/Tehran">
        [GMT+03:30] Iran Time - Tehran                                
    </option>
    <option value="Europe/Volgograd">
        [GMT+03:00] Volgograd Time                                
    </option>
    <option value="Asia/Yerevan">
        [GMT+04:00] Armenia Time - Yerevan                                
    </option>
    <option value="Asia/Baku">
        [GMT+04:00] Azerbaijan Time - Baku                                
    </option>
    <option value="Asia/Tbilisi">
        [GMT+04:00] Georgia Time - Tbilisi                                
    </option>
    <option value="Indian/Mauritius">
        [GMT+04:00] Mauritius Time                                
    </option>
    <option value="Asia/Muscat">
        [GMT+04:00] Oman Time - Muscat                                
    </option>
    <option value="Indian/Reunion">
        [GMT+04:00] Réunion Time                                
    </option>
    <option value="Europe/Samara">
        [GMT+04:00] Samara Time                                
    </option>
    <option value="Indian/Mahe">
        [GMT+04:00] Seychelles Time - Mahe                                
    </option>
    <option value="Asia/Dubai">
        [GMT+04:00] United Arab Emirates Time - Dubai                                
    </option>
    <option value="Asia/Kabul">
        [GMT+04:30] Afghanistan Time - Kabul                                
    </option>
    <option value="Asia/Aqtau">
        [GMT+05:00] Aqtau Time                                
    </option>
    <option value="Asia/Aqtobe">
        [GMT+05:00] Aqtobe Time                                
    </option>
    <option value="Indian/Kerguelen">
        [GMT+05:00] French Southern Territories Time - Kerguelen                                
    </option>
    <option value="Indian/Maldives">
        [GMT+05:00] Maldives Time                                
    </option>
    <option value="Antarctica/Mawson">
        [GMT+05:00] Mawson Time                                
    </option>
    <option value="Asia/Oral">
        [GMT+05:00] Oral Time                                
    </option>
    <option value="Asia/Karachi">
        [GMT+05:00] Pakistan Time - Karachi                                
    </option>
    <option value="Asia/Samarkand">
        [GMT+05:00] Samarkand Time                                
    </option>
    <option value="Asia/Dushanbe">
        [GMT+05:00] Tajikistan Time - Dushanbe                                
    </option>
    <option value="Asia/Ashgabat">
        [GMT+05:00] Turkmenistan Time - Ashgabat                                
    </option>
    <option value="Asia/Tashkent">
        [GMT+05:00] Uzbekistan Time - Tashkent                                
    </option>
    <option value="Asia/Yekaterinburg">
        [GMT+05:00] Yekaterinburg Time                                
    </option>
    <option value="Asia/Kolkata">
        [GMT+05:30] India Time - Kolkata                                
    </option>
    <option value="Asia/Colombo">
        [GMT+05:30] Sri Lanka Time - Colombo                                
    </option>
    <option value="Asia/Kathmandu">
        [GMT+05:45] Nepal Time - Kathmandu                                
    </option>
    <option value="Asia/Almaty">
        [GMT+06:00] Almaty Time                                
    </option>
    <option value="Asia/Dhaka">
        [GMT+06:00] Bangladesh Time - Dhaka                                
    </option>
    <option value="Asia/Thimphu">
        [GMT+06:00] Bhutan Time - Thimphu                                
    </option>
    <option value="Indian/Chagos">
        [GMT+06:00] British Indian Ocean Territory Time - Chagos                                
    </option>
    <option value="Asia/Bishkek">
        [GMT+06:00] Kyrgyzstan Time - Bishkek                                
    </option>
    <option value="Asia/Omsk">
        [GMT+06:00] Omsk Time                                
    </option>
    <option value="Asia/Qyzylorda">
        [GMT+06:00] Qyzylorda Time                                
    </option>
    <option value="Asia/Urumqi">
        [GMT+06:00] Urumqi Time                                
    </option>
    <option value="Antarctica/Vostok">
        [GMT+06:00] Vostok Time                                
    </option>
    <option value="Indian/Cocos">
        [GMT+06:30] Cocos (Keeling) Islands Time                                
    </option>
    <option value="Asia/Phnom_Penh">
        [GMT+07:00] Cambodia Time - Phnom Penh                                
    </option>
    <option value="Indian/Christmas">
        [GMT+07:00] Christmas Island Time                                
    </option>
    <option value="Antarctica/Davis">
        [GMT+07:00] Davis Time                                
    </option>
    <option value="Asia/Hovd">
        [GMT+07:00] Hovd Time                                
    </option>
    <option value="Asia/Jakarta">
        [GMT+07:00] Jakarta Time                                
    </option>
    <option value="Asia/Krasnoyarsk">
        [GMT+07:00] Krasnoyarsk Time                                
    </option>
    <option value="Asia/Vientiane">
        [GMT+07:00] Laos Time - Vientiane                                
    </option>
    <option value="Asia/Novokuznetsk">
        [GMT+07:00] Novokuznetsk Time                                
    </option>
    <option value="Asia/Novosibirsk">
        [GMT+07:00] Novosibirsk Time                                
    </option>
    <option value="Asia/Pontianak">
        [GMT+07:00] Pontianak Time                                
    </option>
    <option value="Asia/Bangkok">
        [GMT+07:00] Thailand Time - Bangkok                                
    </option>
    <option value="Asia/Ho_Chi_Minh">
        [GMT+07:00] Vietnam Time - Ho Chi Minh City                                
    </option>
    <option value="Asia/Brunei">
        [GMT+08:00] Brunei Time                                
    </option>
    <option value="Asia/Shanghai">
        [GMT+08:00] China Time - Shanghai                                
    </option>
    <option value="Asia/Choibalsan">
        [GMT+08:00] Choibalsan Time                                
    </option>
    <option value="Asia/Hong_Kong">
        [GMT+08:00] Hong Kong SAR China Time                                
    </option>
    <option value="Asia/Irkutsk">
        [GMT+08:00] Irkutsk Time                                
    </option>
    <option value="Asia/Kuching">
        [GMT+08:00] Kuching Time                                
    </option>
    <option value="Asia/Macau">
        [GMT+08:00] Macau SAR China Time                                
    </option>
    <option value="Asia/Makassar">
        [GMT+08:00] Makassar Time                                
    </option>
    <option value="Asia/Kuala_Lumpur">
        [GMT+08:00] Malaysia Time - Kuala Lumpur                                
    </option>
    <option value="Australia/Perth">
        [GMT+08:00] Perth Time                                
    </option>
    <option value="Asia/Manila">
        [GMT+08:00] Philippines Time - Manila                                
    </option>
    <option value="Asia/Singapore">
        [GMT+08:00] Singapore Time                                
    </option>
    <option value="Asia/Taipei">
        [GMT+08:00] Taiwan Time - Taipei                                
    </option>
    <option value="Asia/Ulaanbaatar">
        [GMT+08:00] Ulaanbaatar Time                                
    </option>
    <option value="Antarctica/Casey">
        [GMT+11:00] Casey Time                                
    </option>
    <option value="Australia/Eucla">
        [GMT+08:45] Eucla Time                                
    </option>
    <option value="Asia/Pyongyang">
        [GMT+08:30] North Korea Time - Pyongyang                                
    </option>
    <option value="Asia/Chita">
        [GMT+09:00] Chita Time                                
    </option>
    <option value="Asia/Tokyo">
        [GMT+09:00] Japan Time - Tokyo                                
    </option>
    <option value="Asia/Jayapura">
        [GMT+09:00] Jayapura Time                                
    </option>
    <option value="Asia/Khandyga">
        [GMT+09:00] Khandyga Time                                
    </option>
    <option value="Pacific/Palau">
        [GMT+09:00] Palau Time                                
    </option>
    <option value="Asia/Seoul">
        [GMT+09:00] South Korea Time - Seoul                                
    </option>
    <option value="Asia/Dili">
        [GMT+09:00] Timor-Leste Time - Dili                                
    </option>
    <option value="Asia/Yakutsk">
        [GMT+09:00] Yakutsk Time                                
    </option>
    <option value="Australia/Darwin">
        [GMT+09:30] Darwin Time                                
    </option>
    <option value="Australia/Brisbane">
        [GMT+10:00] Brisbane Time                                
    </option>
    <option value="Pacific/Chuuk">
        [GMT+10:00] Chuuk Time                                
    </option>
    <option value="Antarctica/DumontDUrville">
        [GMT+10:00] Dumont d’Urville Time                                
    </option>
    <option value="Pacific/Guam">
        [GMT+10:00] Guam Time                                
    </option>
    <option value="Australia/Lindeman">
        [GMT+10:00] Lindeman Time                                
    </option>
    <option value="Pacific/Saipan">
        [GMT+10:00] Northern Mariana Islands Time - Saipan                                
    </option>
    <option value="Pacific/Port_Moresby">
        [GMT+10:00] Port Moresby Time                                
    </option>
    <option value="Asia/Ust-Nera">
        [GMT+10:00] Ust-Nera Time                                
    </option>
    <option value="Asia/Vladivostok">
        [GMT+10:00] Vladivostok Time                                
    </option>
    <option value="Australia/Adelaide">
        [GMT+10:30] Adelaide Time                                
    </option>
    <option value="Australia/Broken_Hill">
        [GMT+10:30] Broken Hill Time                                
    </option>
    <option value="Pacific/Bougainville">
        [GMT+11:00] Bougainville Time                                
    </option>
    <option value="Australia/Currie">
        [GMT+11:00] Currie Time                                
    </option>
    <option value="Australia/Hobart">
        [GMT+11:00] Hobart Time                                
    </option>
    <option value="Pacific/Kosrae">
        [GMT+11:00] Kosrae Time                                
    </option>
    <option value="Australia/Lord_Howe">
        [GMT+11:00] Lord Howe Time                                
    </option>
    <option value="Antarctica/Macquarie">
        [GMT+11:00] Macquarie Time                                
    </option>
    <option value="Asia/Magadan">
        [GMT+11:00] Magadan Time                                
    </option>
    <option value="Australia/Melbourne">
        [GMT+11:00] Melbourne Time                                
    </option>
    <option value="Pacific/Noumea">
        [GMT+11:00] New Caledonia Time - Noumea                                
    </option>
    <option value="Pacific/Norfolk">
        [GMT+11:00] Norfolk Island Time                                
    </option>
    <option value="Pacific/Pohnpei">
        [GMT+11:00] Pohnpei Time                                
    </option>
    <option value="Asia/Sakhalin">
        [GMT+11:00] Sakhalin Time                                
    </option>
    <option value="Pacific/Guadalcanal">
        [GMT+11:00] Solomon Islands Time - Guadalcanal                                
    </option>
    <option value="Asia/Srednekolymsk">
        [GMT+11:00] Srednekolymsk Time                                
    </option>
    <option value="Australia/Sydney">
        [GMT+11:00] Sydney Time                                
    </option>
    <option value="Pacific/Efate">
        [GMT+11:00] Vanuatu Time - Efate                                
    </option>
    <option value="Asia/Anadyr">
        [GMT+12:00] Anadyr Time                                
    </option>
    <option value="Asia/Kamchatka">
        [GMT+12:00] Kamchatka Time                                
    </option>
    <option value="Pacific/Kwajalein">
        [GMT+12:00] Kwajalein Time                                
    </option>
    <option value="Pacific/Majuro">
        [GMT+12:00] Marshall Islands Time - Majuro                                
    </option>
    <option value="Pacific/Nauru">
        [GMT+12:00] Nauru Time                                
    </option>
    <option value="Pacific/Tarawa">
        [GMT+12:00] Tarawa Time                                
    </option>
    <option value="Pacific/Funafuti">
        [GMT+12:00] Tuvalu Time - Funafuti                                
    </option>
    <option value="Pacific/Wake">
        [GMT+12:00] Wake Time                                
    </option>
    <option value="Pacific/Wallis">
        [GMT+12:00] Wallis &amp; Futuna Time                                
    </option>
    <option value="Pacific/Enderbury">
        [GMT+13:00] Enderbury Time                                
    </option>
    <option value="Pacific/Fiji">
        [GMT+13:00] Fiji Time                                
    </option>
    <option value="Antarctica/McMurdo">
        [GMT+13:00] McMurdo Time                                
    </option>
    <option value="Pacific/Auckland">
        [GMT+13:00] New Zealand Time - Auckland                                
    </option>
    <option value="Pacific/Fakaofo">
        [GMT+13:00] Tokelau Time - Fakaofo                                
    </option>
    <option value="Pacific/Tongatapu">
        [GMT+13:00] Tonga Time - Tongatapu                                
    </option>
    <option value="Pacific/Chatham">
        [GMT+13:45] Chatham Time                                
    </option>
    <option value="Pacific/Kiritimati">
        [GMT+14:00] Kiritimati Time                                
    </option>
    <option value="Pacific/Apia">
        [GMT+14:00] Samoa Time - Apia                                
    </option>
</select>